.body {
    background-color: lightsalmon;
    font-size:large;
}

.mainTitle {
    text-align: center;
    border-style: solid;
    margin: 50px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.25);
    text-decoration: underline;
    border-color: black;
    color: black;
    animation: mainTitleColorChange 7s infinite;
}

@keyframes mainTitleColorChange {
    50% {border-color: white}
    50% {color: white;}
}

.block {
    text-align: center;
    border-style: double;
    margin: 40px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.25);
    border-radius: 25px;
}

.minorTitleAnimated {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
    animation: textColorChange 7s infinite;
}

@keyframes textColorChange {
    50% {color: white;}
}

.minorTitle {
    text-decoration: underline;
}

ul {
    text-align: left;
    list-style-position: inside;
}

.footer {
    text-align: center;
    border-style: solid;
    margin: 5px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.25);
}

.projectBlock {
    text-align: center;
    border-style: solid;
    background-color: rgba(240, 248, 255, 0.25);
}